[Unit]
Description = isucon7 qualifier main application in ruby

[Service]
WorkingDirectory=/home/isucon/isubata/webapp/ruby
EnvironmentFile=/home/isucon/env.sh
Environment=RACK_ENV=production

ExecStart = /home/isucon/isubata/webapp/ruby/start.sh

Restart   = always
Type      = simple
User      = isucon
Group     = isucon

RuntimeDirectory=isubata

LimitNOFILE=16384
LimitNOFILESoft=16384

[Install]
WantedBy = multi-user.target
